# Ambiente Virtual
venv/

# Arquivo de Segredos
.env

# Arquivos de Cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de configuração de Editores de Código
.vscode/
.idea/

# Dados e arquivos grandes (ex: PDFs, modelos, etc)
books/

# Arquivos de sistema (Windows, macOS)
.DS_Store
Thumbs.db