# Ambiente Virtual
venv/

# Arquivo de Segredos
.env

# Arquivos de Cache e compilados do Python
__pycache__/  # <-- É esta linha que faz o trabalho!
*.pyc        # Ignora também arquivos .pyc fora de uma pasta __pycache__

# Pastas de configuração de Editores de Código
.vscode/
.idea/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
